_.log
_.pid
_.seed
!.dev.vars.example
!.env.example
.cache
.cache/
.dev.vars*
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
!.env.local.example
.eslintcache
.fusebox/
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.\*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.wrangler/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.tgz
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
archived/
.wrangler/
.alchemy/
node_modules/

responses/