_.log
_.pid
_.seed
!.dev.vars.example
!.env.example
.cache
.cache/
.dev.vars*
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.eslintcache
.fusebox/
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.\*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.wrangler/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.tgz
*.tsbuildinfo
\*.lcov
\*.pid.lock
\*.tgz
\*.tsbuildinfo
archived/
bower_components
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
node_modules/
npm-debug.log_
out
pids
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
web_modules/
yarn-debug.log*
yarn-error.log*